<app-header></app-header>
<div class="flexrow">
  <div class = "container">
    <app-stroy [img]='postImgs[0]' [text]='postText[0]'></app-stroy> 
    <app-stroy [img]='postImgs[1]' [text]='postText[1]'></app-stroy> 
    <app-stroy [img]='postImgs[2]' [text]='postText[2]'></app-stroy> 
    <app-stroy [img]='postImgs[3]' [text]='postText[3]'></app-stroy> 
    <app-stroy [img]='postImgs[0]' [text]='postText[0]'></app-stroy> 
    <app-stroy [img]='postImgs[1]' [text]='postText[1]'></app-stroy> 
    <app-stroy [img]='postImgs[2]' [text]='postText[2]'></app-stroy> 
    <app-stroy [img]='postImgs[3]' [text]='postText[3]'></app-stroy> 
      </div>
</div>

<!-- 
   <app-stroy></app-stroy> 

<app-story *ngFor='let i of [0, 1, 2, 3]' [img]="postImgs[i]" [text]="postText[i]"></app-story>
 <app-stroy [img]='postImgs[3]' [text]='postText[3]'></app-stroy> 

-->