header{
    box-shadow:2px 2px 2px rgba(0,0,0,0.1);
    background-color: gray;
    
}
.logoclass{
    height: 60px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 80px;
}
.heatOne{
    margin-bottom: 16px;
}
h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: aqua;
}